html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1.6;
}
body {
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
    background: #ebebeb url(../images/bgr.png) repeat;
}
.search-bar {
    position: relative;
    padding: 8px 15px;
    background-color: #EFEFF4;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    box-sizing: border-box;
    border-radius: 3px;
}
.search-bar-form {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    flex: auto;
    background-color: #fff;
}
.search-bar-box {
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
}
.search-bar-box  input[type="text"] {
    outline: none;
    border: 0;
}
.search-bar-box  input[type="text"]:focus {
    background: #fff;
    outline: none;
}
.search-bar-input {
    padding: 4px 0;
    width: 100%;
    height: 1.42857143em;
    border: 0;
    font-size: 14px;
    line-height: 1.42857143em;
    box-sizing: content-box;
    background: transparent;
}
.weui-icon-search {
    position: absolute;
    left: 6px;
    top: 0;
    line-height: 28px;
}
.weui-icon-search:before {
    content: "\EA0E";
}
.panel {
    margin: 15px;
    padding: 15px;
    background: #fff;
    border-radius: 4px;
}
.panel-title h2 {
    margin-bottom: 10px;
    line-height: 1.4;
    font-weight: 400;
    font-size: 24px;
    color: #333;
}
.view-source {
    color: #607fa6;
    text-decoration: none;
}
a.view-source:hover {
    color: #fff;
}
.panel-date {
    color: #999;
}
.panel-content {
    color: #3e3e3e;
}