/* 分类导航页 */
/* 内容 */
.main_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    min-width: 320px;
    overflow: hidden;
    background-color: #fff;
}

/* 头部返回 */
.search_header {
    position: relative;
    z-index: 100;
    height: 30px;
    background: #fff;
    padding: 7px 50px 7px 40px;
    border-bottom: 1px solid #e4e4e4;
}

.search_header .back {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    height: 44px;
    padding-left: 40px;
    background: url(../img/icon/arrow_left.png) no-repeat 15px center;
    background-size: auto 16px;
    font-size: 15px;
}

.search_header .search {
    height: 30px;
    border-radius: 4px;
    padding-left: 30px;
    position: relative;
    background: #fff;
	border: 1px solid #ddd;
}

.search_header .search .text {
    border-radius: 40px;
    width: 100%;
    border: none;
    height: 20px;
    outline: none;
    font-size: 14px;
    padding: 5px 0;
    color: #b6b7b9;
    display: block;
}

.search_header .search .submit {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 0;
    background: #fff url(../img/icon/ic_validate.png) center center no-repeat;
    background-size: 16px 16px;
    border: none;
    border-radius: 40px;
}

/* 分类列表 */
.main_box {
    width: 100%;
    height: 100%;
}

.main_box .class_list_nav {
    float: left;
    width: 23.5%;
    background-color: #fff;
    height: 100%;
    z-index: 5;
}

.main_box .class_list_nav_box {
    overflow: scroll;
    height: 100%;
}

.main_box .class_list_nav_box ul {
    padding-bottom: 44px;
}

.main_box .class_list_nav_box ul li {
    font-size: 13px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
}

.main_box .class_list_nav_box ul li.on {
    background-color: #FFFBF5;
    margin: -1px 0;
    color: #C58630;
    border-bottom: 1px solid #C58630;
}

.main_box .class_box {
    float: left;
    width: 76.5%;
    height: 100%;
}

.main_box .class_box .class_box_inner {
    padding: 0 5px;
    overflow: scroll;
    height: 100%;
    border-left: 1px solid #e6e6e6;
    background-color: #f8f8f8;
}

.main_box .class_box .class_box_over {
    padding-bottom: 48px;
    padding-top: 7px;
}

.main_box .class_box .class_box_over h3 {
    line-height: 24px;
    font-size: .14rem;
    font-weight: normal;
    padding-left: 4px;
    padding-top: 12px;
    color: #4d525d;
    position: relative;
    overflow: hidden;
	margin-bottom: .1rem;
}

.main_box .class_box .class_box_over ul {
    margin-bottom: 0;
    background-color: #fff;
}

.main_box .class_box .class_box_over li {
    width: 33.333%;
    float: left;
    overflow: hidden;
}

.main_box .class_box .class_box_over li.arrow {
    float: right;
}

.main_box .class_box .class_box_over li div {
    padding: 4px;
}

.main_box .class_box .class_box_over li div a {
    background-color: #fafafa;
}

.main_box .class_box .class_box_over li div a,.main_box .class_box .class_box_over li div img {
    display: block;
    width: 100%;
}

.main_box .class_box .class_box_over li div a span {
    text-align: center;
    display: block;
    line-height: 22px;
    height: 22px;
    font-size: .12rem;
    overflow: hidden;
    color: #666;
}

.main_box .class_box .class_box_over .cate_banner_img {
    width: 100%;
}

.main_box .class_box .class_box_over .cate_icon_img {
    width: 100%;
    height: auto;
}

/* 搜索浮层 */
/* 搜索列表header */
.floatsearch {
    padding-top: 45px;
}

.mix_new_header {
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 5100;
    background: #fff;
    padding: 7px 50px 7px 40px;
    border-bottom: 1px solid #d8d8d8;
    box-sizing: border-box;
}

.mix_new_header .search {
    height: 30px;
    border-radius: 4px;
    position: relative;
    background: #fff;
	border: 1px solid #ddd;
}

.mix_new_header .search .text {
    width: 100%;
    border: none;
    height: 30px;
    outline: none;
    font-size: 14px;
    padding: 5px 0;
    color: #b6b7b9;
    display: block;
    background: transparent;
    padding: 5px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.mix_new_header .search .mix_submit {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0px;
    top: 0px;
    background: #fff url(../img/icon/ic_validate.png) center center no-repeat;
    background-size: 16px 16px;
    border: none;
    border-radius: 40px;
}

.mix_new_header .search .clear_input {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0px;
    top: 0px;
    display: block;
    background: url(../img/icon/bt_clear.png) center center no-repeat;
    background-size: 16px 16px;
}

.mix_new_header .mix_filtrate {
    position: absolute;
    right: 0px;
    top: 7px;
    color: #646464;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    width: 50px;
    text-align: center;
    border: none;
    background: none;
}

.mix_new_header .mix_back {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    height: 44px;
    padding-left: 40px;
    background: url(../img/icon/arrow_left.png) no-repeat 15px center;
    background-size: auto 16px;
    font-size: 15px;
}
.main_wrapper .wei-header-icon {
	top: 14px;
	right: 15px;
}
